[Unit]
Description=DB_API Service
After=network.target

[Service]
ExecStart=/usr/bin/node /opt/db_api/src/server.mjs
WorkingDirectory=/opt/db_api
Restart=always
RestartSec=10
User=nodeuser
Group=nodegroup
Environment=NODE_ENV=production
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=nodejs-service

[Install]
WantedBy=multi-user.target
